URxvt.depth:         32
URxvt.scrollBar:     true
URxvt.scrollstyle:   plain
URxvt.scrollColor:   #444444
URxvt.background:    [85]#000000
URxvt.foreground:    #AAAAAA
URxvt.color12:       #2774B6
URxvt*font:          -*-terminesspowerline-medium-r-normal-*-14-*-*-*-*-*-*-*
URxvt*boldFont:      -*-terminesspowerline-bold-r-normal-*-14-*-*-*-*-*-*-*
URxvt.urgentOnBell:  true

URxvt.perl-ext: default,url-select,keyboard-select

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: firefox
URxvt.url-select.autocopy: true
URxvt.url-select.underline: true

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0

Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
